<%= render partial: "devise/shared/header", locals: { recipe: @recipe } %>

<div class="contents row">
  <div class="success">
    <h3>レシピを削除しました。</h3>
    <a class="btn" href="/">トップページに戻る</a>
  </div>
</div>

<%= render partial: "devise/shared/footer"%>