
 .main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
 }

 li{
  list-style:none;
}

/*ログイン画面css*/
 .login{
  margin: auto;
 }

 .field{
  padding-bottom: 5vh;
 }
/*ログイン画面css*/


/*index css*/
 .sentense{
  font-size: 2vh;
  text-align: left;
  color: brown;
  padding-top: 5px;
  padding-bottom: 30px;
 }

 .new-btn{
  width: 12VW;
  display: grid;
  grid-template-columns: auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px
 }

 .subtitle{
  text-align: center;
  font-size: 3vh;
  padding-top: 5vh;
 }

 .recipe-lists{
  display: flex;
  justify-content: space-between;
 }

 .recipe-name{
  text-align: center;
 }
 
 .recipe-date{
  margin-top: 5vh;
  margin-bottom: 10vh;
 }
 /*index css*/

